name: Validate

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hassfest Validation
        uses: home-assistant/actions/hassfest@master
